@{
    ViewBag.Title = "Reset User Password";
}
  <h2>@ViewBag.Title</h2>

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
      <tr><td>Username:</td><td>@Html.TextBox("Username", null, new { @class = "UserLookup" })</td></tr>
      <tr><td>Password:</td><td>@Html.Password("Password")</td></tr>
      <tr><td>Confirm:</td><td>@Html.Password("PasswordConfirm")</td></tr>
      <tr><td></td><td><input type="submit" value="Reset" /></td></tr>
    </table>
  }

  @Html.ActionLink("Back to Index", "Index")
