@model IEnumerable<LanLordz.Models.Venue>

@{
    ViewBag.Title = "Venues";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.Latitude
        </td>
        <td>
            @item.Longitude
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VenueID })
        </td>
    </tr>
}

</table>
