@model LanLordz.Models.InputScoresModel
@{
    var controller = this.ViewContext.Controller as LanLordzBaseController;
    ViewBag.Title = "Input Scores";
}
    <div class="EventsNavigator">@Html.ActionLink(controller.Config.SiteName + " Events", "Index") &gt; @Html.ActionLink(Model.Event.Title, "Details", new { id = Model.Event.EventID }) &gt; @Html.ActionLink(Model.Tournament.Title, "ViewTournament", new { id = Model.Tournament.TournamentID }) &gt; Input Scores</div>
    <h2>Input Scores</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     foreach (var pairing in Model.Round.Pairings)
     {
    <div style="margin-bottom : 20px;">
     <table>
     @foreach (var teamPairing in pairing.TeamsPairings)
     {
      <tr>
       <td>@teamPairing.Team.TeamName</td>
       <td><input name="@("score-" + pairing.PairingID + "-" + teamPairing.TeamID)" type="text" value="@teamPairing.Score" style="width : 60px;" /></td>
      </tr>
     }
     </table>
    </div>
     }
    <input type="submit" value="Save" /> @Html.ActionLink("Cancel", "ViewTournament", new { id = Model.Tournament.TournamentID, title = controller.CreateUrlTitle(Model.Tournament.Title) })
    }
