@model LanLordz.Models.TournamentActionModel
@{
    ViewBag.Title = "Unlock Teams";
    var controller = this.ViewContext.Controller as LanLordzBaseController;
}
    <div class="EventsNavigator">@Html.ActionLink(controller.Config.SiteName + " Events", "Index") &gt; @Html.ActionLink(Model.Event.Title, "Details", new { id = Model.Event.EventID }) &gt; @Html.ActionLink(Model.Tournament.Title, "ViewTournament", new { id = Model.Tournament.TournamentID }) &gt; Unlock Teams</div>
    <h2>Unlock Teams</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     @Html.ValidationSummary("There was an error locking the teams:", new { @class = "ErrorText" })
     <text>
     Are you sure you want to unlock the teams?  This will allow users to create, delete, join, and leave teams.<br /><br />
     <input type="submit" value="Unlock" /> @Html.ActionLink("Cancel", "ViewTournament", new { id = Model.Tournament.TournamentID })
     </text>
    }
