@model LanLordz.Models.EditProfileModel
@{
    ViewBag.Title = "Edit Profile";
}
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     @Html.ValidationSummary("There was an error updating your profile.", new { @class = "ErrorText" })
     <table>
      <tr><td>Display Email:</td><td>@Html.CheckBox("ShowEmail", Model.UserInfo.ShowEmail)</td></tr>
      <tr><td>Display Gender:</td><td>@Html.CheckBox("ShowGender", Model.UserInfo.ShowGender)</td></tr>
      <tr><td>Receive Admin Email:</td><td>@Html.CheckBox("ReceiveAdminEmail", Model.UserInfo.ReceiveAdminEmail)</td></tr>
      <tr><td colspan="2"><hr /></td></tr>
      <tr><td>Location:</td><td>@Html.TextBox("Location", Model.UserInfo.Location, new { style = "width: 150px;" })</td></tr>
      <tr><td>Website:</td><td>@Html.TextBox("Website", Model.UserInfo.Website, new { style = "width: 150px;" })</td></tr>
      <tr><td>Occupation:</td><td>@Html.TextBox("Occupation", Model.UserInfo.Occupation, new { style = "width: 150px;" })</td></tr>
      <tr><td>Interests:</td><td>@Html.TextBox("Interests", Model.UserInfo.Interests, new { style = "width: 150px;" })</td></tr>
      <tr><td></td><td>50 Character Limit</td></tr>
      <tr><td colspan="2"><hr /></td></tr>
      <tr>
       <td>Time Zone:</td>
       <td>
        @Html.DropDownList("TimeZone", from timezone in Model.AvailableTimezones.Keys
                                       select new SelectListItem
                                       {
                                           Value = timezone,
                                           Text = Model.AvailableTimezones[timezone],
                                           Selected = Model.UserInfo.TimeZone == timezone,
                                       })
       </td>
      </tr>
      <tr>
       <td>Site Theme:</td>
       <td>
        @Html.DropDownList("Theme", from theme in Model.AvailableThemes.Keys
                                    select new SelectListItem
                                    {
                                        Value = theme,
                                        Text = Model.AvailableThemes[theme],
                                        Selected = Model.UserInfo.Theme == theme,
                                    })
       </td>
      </tr>
      <tr><td>Signature:<br />500 Character Limit</td><td>@Html.TextArea("Signature", Model.UserInfo.Signature, new { style = "height: 150px; width: 300px;" })</td></tr>
      <tr><td>Short Biography:<br />1500 Character Limit</td><td>@Html.TextArea("Biography", Model.UserInfo.Biography, new { style = "height: 300px; width: 300px;" })</td></tr>
      <tr><td colspan="2"><hr /></td></tr>
      <tr><td></td><td><input type="submit" value="Save" /></td></tr>
     </table>
    }
