@model LanLordz.Models.LogOnAttemptModel
@{
    ViewBag.Title = "Log On";
    var controller = this.ViewContext.Controller as LanLordzBaseController;
}
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     @Html.ValidationSummary("Log on failed.", new { @class = "ErrorText" })
     @Html.Hidden("ReturnUrl", Model.ReturnUrl)
     <table>
      <tr>
       <td><label for="Username">Username:</label></td>
       <td><input name="Username" type="text" id="Username" value="@Model.Username" /></td>
      </tr>
      <tr>
       <td><label for="PasswordHash">Password:</label></td>
       <td><input name="Password" type="password" id="Password" value="@Model.Password" /></td>
      </tr>
      <tr>
       <td></td>
       <td><input name="RememberMe" type="checkbox" id="RememberMe" checked="@(Model.RememberMe ? "checked" : "")" /><label for="RememberMe">Remember Me</label></td>
      </tr>
      @if (Model.RequireCaptcha)
      {
      <tr>
       <td>Human?:</td>
       <td>@Html.Captcha(controller.Config.RecaptchaPublicKey, controller.Config.RecaptchaPrivateKey)</td>
      </tr>
      }
      <tr>
       <td></td>
       <td><input type="submit" value="Log On" /></td>
      </tr>
     </table>
     @Html.ActionLink("I forgot my username.", "ForgotUsername")<br />
     @Html.ActionLink("I forgot my password.", "ChangePassword")
    }
