@model LanLordz.Models.LogOnAttemptModel
@{
    ViewBag.Title = "Log On";
    var controller = this.ViewContext.Controller as LanLordzBaseController;
}
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     @Html.ValidationSummary("Log on failed.", new { @class = "ErrorText" })
     @Html.Hidden("ReturnUrl", Model.ReturnUrl)
     <table>
      <tr>
       <td>@Html.Label("Username", "Username:")</td>
       <td>@Html.TextBox("Username", Model.Username)</td>
      </tr>
      <tr>
       <td>@Html.Label("PasswordHash", "Password:")</td>
       <td>@Html.Password("Password", Model.Password)</td>
      </tr>
      <tr>
       <td></td>
       <td>@Html.CheckBox("RememberMe", Model.RememberMe) @Html.Label("RememberMe", "Remember Me")</td>
      </tr>
      @if (Model.RequireCaptcha)
      {
      <tr>
       <td>Human?:</td>
       <td>@Html.Captcha(controller.Config.RecaptchaPublicKey, controller.Config.RecaptchaPrivateKey)</td>
      </tr>
      }
      <tr>
       <td></td>
       <td><input type="submit" value="Log On" /></td>
      </tr>
     </table>
     @Html.ActionLink("I forgot my username.", "ForgotUsername")<br />
     @Html.ActionLink("I forgot my password.", "ChangePassword")
    }
