@model LanLordz.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
    var controller = this.ViewContext.Controller as LanLordzBaseController;
}
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     <p>Please fill out the form below to sign up for the @controller.Config.SiteName site.</p>
     @Html.ValidationSummary("There was an error processing your registration:", new { @class = "ErrorText" })
     <table>
      <tr><td>Username:</td><td>@Html.TextBox("Username", Model.Username)</td></tr>
      <tr><td>Password:</td><td>@Html.Password("Password", Model.Password)</td></tr>
      <tr><td>Confirm Password:</td><td>@Html.Password("PasswordConfirm", Model.PasswordConfirm)</td></tr>
      <tr><td>Email:</td><td>@Html.TextBox("Email", Model.Email)</td></tr>
      <tr><td>Security Question:</td><td>@Html.TextBox("SecurityQuestion", Model.SecurityQuestion)</td></tr>
      <tr><td>Security Answer:</td><td>@Html.TextBox("SecurityAnswer", Model.SecurityAnswer)</td></tr>
      <tr>
       <td>Gender:</td>
       <td>
        <table border="0">
     <tr><td><input id="GenderM" type="radio" name="Gender" value="M" checked="@(Model.Gender == (char)'M' ? "checked" : "")" /> @Html.Label("GenderM", "Male")</td></tr>
     <tr><td><input id="GenderF" type="radio" name="Gender" value="F" checked="@(Model.Gender == (char)'F' ? "checked" : "")" /> @Html.Label("GenderF", "Female")</td></tr>
      </table>
     </td>
    </tr>
      <tr><td>Display Email:</td><td>@Html.CheckBox("ShowEmail", Model.ShowEmail)</td></tr>
      <tr><td>Display Gender:</td><td>@Html.CheckBox("ShowGender", Model.ShowGender)</td></tr>
      @if (controller.Config.UseRecaptcha)
      {
      <tr><td>Human?:</td><td>@Html.Captcha(controller.Config.RecaptchaPublicKey, controller.Config.RecaptchaPrivateKey)</td></tr>
      }
      <tr><td></td><td><input type="submit" value="Register" /></td></tr>
     </table>
    }
