@model LanLordz.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
    var controller = this.ViewContext.Controller as LanLordzBaseController;
}
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
     <p>Please fill out the form below to sign up for the @controller.Config.SiteName site.</p>
     @Html.ValidationSummary("There was an error processing your registration:", new { @class = "ErrorText" })
     <table>
      <tr><td>Username:</td><td><input name="Username" type="text" id="Username" value="@Model.Username" /></td></tr>
      <tr><td>Password:</td><td><input name="Password" type="password" id="Password" value="@Model.Password" /></td></tr>
      <tr><td>Confirm Password:</td><td><input name="PasswordConfirm" type="password" id="PasswordConfirm" value="@Model.PasswordConfirm" /></td></tr>
      <tr><td>Email:</td><td><input name="Email" type="text" id="Email" value="@Model.Email" /></td></tr>
      <tr><td>Security Question:</td><td><input name="SecurityQuestion" type="text" id="SecurityQuestion" value="@Model.SecurityQuestion" /></td></tr>
      <tr><td>Security Answer:</td><td><input name="SecurityAnswer" type="text" id="SecurityAnswer" value="@Model.SecurityAnswer" /></td></tr>
      <tr>
       <td>Gender:</td>
       <td>
        <table border="0">
     <tr><td><input id="GenderM" type="radio" name="Gender" value="M" checked="@(Model.Gender == (char)'M' ? "checked" : "")" /><label for="GenderM">Male</label></td></tr>
     <tr><td><input id="GenderF" type="radio" name="Gender" value="F" checked="@(Model.Gender == (char)'F' ? "checked" : "")" /><label for="GenderF">Female</label></td></tr>
      </table>
     </td>
    </tr>
      <tr><td>Display Email:</td><td><input id="ShowEmail" type="checkbox" name="ShowEmail" checked="@(Model.ShowEmail ? "checked" : "")" /></td></tr>
      <tr><td>Display Gender:</td><td><input id="ShowGender" type="checkbox" name="ShowGender" checked="@(Model.ShowGender ? "checked" : "")" /></td></tr>
      @if (controller.Config.UseRecaptcha)
      {
      <tr><td>Human?:</td><td>@Html.Captcha(controller.Config.RecaptchaPublicKey, controller.Config.RecaptchaPrivateKey)</td></tr>
      }
      <tr><td></td><td><input type="submit" value="Register" /></td></tr>
     </table>
    }
